<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <link rel="stylesheet" href="/materialize.css" type="text/css" />
  <link rel="stylesheet" href="/index.css" type="text/css" />
  <title>Ben Robbins -- Software Engineer</title>
</head>
<body>
  <header>
    <nav class="blue-grey">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Ben Robbins</a>
        <span class="right hide-on-small-only">Software Engineer</span>
      </div>
    </nav>
  </header>

  <main>
    <div class="main-content flow-text z-depth-1 waves-effect waves-dark blue-grey lighten-5">
      <% var i = 0 %>
      <% _.each(links, function (category) { %>
        <% if (i % 2 === 0) { %>
          <div class="row">
        <% } %>
        <div class="col s12 m6">
          <div class="card hoverable horizontal z-depth-1">
            <div class="card-content">
              <span class="card-title">
                <% if (category.icon) { %>
                  <i class="fa fa-<%- category.icon %>"></i>
                <% } %>
                <%- category.title %>
              </span>
              <% _.each(category.links, function (link) { %>
                <a class="waves-effect waves-light btn mobile-link" href="<%- link.url %>">
                  <% if (link.icon) { %>
                    <i class="fa fa-<%- link.icon %>"></i>
                  <% } %>
                  <% if (link.mobileText) { %>
                    <span class="hide-on-large-only"><%- link.mobileText %></span>
                    <span class="hide-on-med-and-down"><%- link.text %></span>
                  <% } else { %>
                    <%- link.text %>
                  <% } %>
                </a>
              <% }) %>
            </div>
          </div>
        </div>
        <% if (i % 2 === 1) { %>
          </div>
        <% } %>
        <% i++ %>
      <% }) %>
    </div>
  </main>
  <script type="text/javascript" src="/jquery.min.js"></script>
  <script type="text/javascript" src="/materialize.js"></script>
</body>
</html>
